---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/FAQ.astro";
import Slider from "@components/sections/slider/Slider.astro";
import heroImage from "@images/alborada/camion.jpg";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import construction from "@images/alborada/IMG_2178.jpg";
import tools from "@images/alborada/camara.png";
import dashboard from "@images/alborada/camion-pluma.jpg";
import Products from "@/pages/products/Products.astro"

---

<MainLayout>

  <Slider />

  <Products />

  <FeaturesNavs
    title=`Servicios adicionales de <span class="text-yellow-500 dark:text-yellow-400">Alborada del Valle</span>.`
    tabs={[
      {
        heading: "Extructuras robustas",
        content:
          "Con nuestras estructuras robustas, construye con confianza y seguridad. Diseñadas para resistir el paso del tiempo y las condiciones más adversas, nuestras soluciones garantizan una base sólida y duradera para cualquier tipo de proyecto, desde pequeñas obras hasta grandes desarrollos.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Transporte especializado",
        content:
          "Nuestro transporte especializado está diseñado para manejar cualquier tipo de carga, garantizando la entrega segura y eficiente de tus materiales de construcción. Con nosotros, tus productos siempre estarán en buenas manos, listos para ser utilizados en tu proyecto.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Construcciones a la medida",
        content:
          "Diseñamos y construimos proyectos a la medida para satisfacer tus requerimientos exactos. Nuestra experiencia y atención al detalle nos permiten ofrecer soluciones innovadoras y eficientes, asegurando que cada obra sea un reflejo fiel de tus ideas y necesidades.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <ClientsSection
    title="Nuestros Clientes Confían"
    subTitle="Calidad en nuestros productos."
  />

  <FAQ title="Preguntas Frecuentes" faqs={faqs} />

</MainLayout>
