---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/FAQ.astro";
import Slider from "@components/sections/slider/Slider.astro";
import heroImage from "@images/alborada/camion.jpg";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import construction from "@images/alborada/frontpage/IMG_3206.jpg";
import tools from "@images/alborada/frontpage/camion-en-obra.jpeg";
import dashboard from "@images/alborada/frontpage/IMG_2463.jpg";
import Products from "@/pages/products/Products.astro"

---

<MainLayout>

  <Slider />

  <Products />

  <FeaturesNavs
    title=`Servicios Adicionales de <span class="text-yellow-500 dark:text-yellow-400">Alborada del Valle</span>`
    tabs={[
      {
        heading: "DESPACHOS A OBRA",
        content: `
          <div>Condiciones de despachos.</div>
          <ul>
            <li>
              <strong>Monto del despacho:</strong> Despacho a obras tiene un costo asociado según la distancia a recorrer.
            </li>
            <li>
              <strong>Lugar de entrega:</strong> Se deberá informar en el proceso de cotización.
            </li>
            <li>
              <strong>Horario de entregas:</strong> Desde las 10:00 AM – 17:00 Hrs.
            </li>
            <li>
              <strong>Pago y facturación:</strong> Se debe cancelar con anterioridad contra factura, antes que el envío se ejecute.
            </li>
          </ul>
          <div>Cliente tendrá un tiempo máximo de descarga de 3 horas. Luego se cobrará una estadía con cargo a la factura.</div>
        `,
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "DESPACHOS A OBRA",
        content:
          "Nuestro transporte especializado está diseñado para manejar cualquier tipo de carga, garantizando la entrega segura y eficiente de tus materiales de construcción. Con nosotros, tus productos siempre estarán en buenas manos, listos para ser utilizados en tu proyecto.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Construcciones a la medida",
        content:
          "Diseñamos y construimos proyectos a la medida para satisfacer tus requerimientos exactos. Nuestra experiencia y atención al detalle nos permiten ofrecer soluciones innovadoras y eficientes, asegurando que cada obra sea un reflejo fiel de tus ideas y necesidades.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <ClientsSection
    title="Nuestros Clientes Confían"
    subTitle="Calidad en nuestros productos."
  />

  <FAQ title="Preguntas Frecuentes" faqs={faqs} />

</MainLayout>
